<nav>
    <div class="site-title">
        <a href="/">
           <h1>Welcome</h1> 
        </a>
        <p>Mo's views</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New blog</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>