<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>
    <div class="about content">
        <h2>About I</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque optio perspiciatis voluptas culpa nobis modi quisquam magnam accusantium. Saepe reiciendis, reprehenderit animi eligendi minus vel maxime accusantium consequuntur magnam dolorum.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque optio perspiciatis voluptas culpa nobis modi quisquam magnam accusantium. Saepe reiciendis, reprehenderit animi eligendi minus vel maxime accusantium consequuntur magnam dolorum.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque optio perspiciatis voluptas culpa nobis modi quisquam magnam accusantium. Saepe reiciendis, reprehenderit animi eligendi minus vel maxime accusantium consequuntur magnam dolorum.</p>
    </div>
</body>
<%- include('./partials/footer.ejs')  %>
</html>